body
{
    background: grey;
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #fca3f4;
    box-shadow: 0px 2px 20px 0px rgba(146, 63, 125, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    padding: 0.5em;
   
}

#cabecera #logo
{
    width: 50px;
    vertical-align: middle;
}


#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.9em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 2px solid gray;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    background: white;
    padding: 1em;
    margin: 0 auto;
}

#footer
{
    background: rgb(252, 151, 230);
    color: white;
    text-align: center;
    padding: 0.4em;
}