body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
#container
{
    with: 80px;
    padding: 12em;
    text-align: center;
    border: 1px solid #333;
    margin: 0 auto;

}

#cabecera
{
    background: pink;
    box-shadow: 30px 2px 80px 0px rgba(0,0,0,0,0.5);
    color: #333;
    font-weight: bold;
    text-align-last: left;
    margin: 10px;
    padding: 0.5em;
   
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 60%;
    padding: 0;
    text-align: center;
    border: 2px solid gray;
>>>>>>> cabecera
    margin: 10px;
}

#container h1
{
    font-size: 20px;

}

#post
{
    padding: 1em;
>>>>>>> cabecera
}